.opt-btn {
  z-index: 1;
  background-color: aqua;
}

.opt-ques {
  display: flex;
  z-index: 1;
  background-color: green;
  color: white;
  height: 35px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}