<div *ngIf="videoEnded" class="col-md-12 col-sm-12 pb-5" style="bottom: 0;position: fixed; z-index: 1;">
  <div class="row mt-auto mr-5 pr-3">
    <p class="opt-ques mr-5 col-md-3 col-sm-3">{{question}}</p>
  </div>
  <div class="row mt-1 mr-5 pr-3" *ngFor="let op of opts">
    <button class="opt-btn btn ml-auto mr-5 col-md-3 col-sm-3" (click)="btnClick(op.value)">{{op.title}}</button>
  </div>
</div>
<video autoplay style="width: 100vw; height: 100vh;" controls (ended)="videoEnded = true">
  <source [src]="videoUri" type="video/mp4">
</video>