@import '../node_modules/bootstrap/scss/bootstrap.scss';

/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100vh !important;
  margin: 0 !important;
}